
// Cartilage Support ---------------------------------------------------------

@import "cartilage/mixins";
@import "cartilage/variables";

// Source List View ----------------------------------------------------------

.source-list-view
{
  background: $sourceListBackground;
  border-right: 1px solid rgba(0, 0, 0, 0.45);

  overflow: hidden;

  > .header-view
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;

    // List Views are absolutely positioned to take up all available space,
    // by default. When in a header view, we want to force it to relative
    // position so that we can calculate its height.
    > .list-view
    {
      position: relative;

      > .list-view-items-container
      {
        position: relative;
      }
    }

    &:after
    {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      height: 4px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjM4IiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMDc1KSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJyZ2JhKDAsIDAsIDAsIDApIiAvPjxyZWN0IHg9IjAlIiB5PSItMTAwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMjAwJSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
      background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 283, color-stop(38%, rgba(0, 0, 0, 0.075)), color-stop(100%, rgba(0, 0, 0, 0)));
      background-image: -webkit-radial-gradient(center top, farthest-side, rgba(0, 0, 0, 0.075) 38%, rgba(0, 0, 0, 0) 100%);
      background-image: -moz-radial-gradient(center top, farthest-side, rgba(0, 0, 0, 0.075) 38%, rgba(0, 0, 0, 0) 100%);
      background-image: -ms-radial-gradient(center top, farthest-side, rgba(0, 0, 0, 0.075) 38%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-radial-gradient(center top, farthest-side, rgba(0, 0, 0, 0.075) 38%, rgba(0, 0, 0, 0) 100%);
      background-image: radial-gradient(farthest-side at center top, rgba(0, 0, 0, 0.075) 38%, rgba(0, 0, 0, 0) 100%);
    }
  }

  > .footer-view
  {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;
  }
}
