
// Cartilage Support ---------------------------------------------------------

@import "cartilage/mixins";
@import "cartilage/variables";

// Source List View ----------------------------------------------------------

.source-list-view
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: $sourceListBackground;
  border-right: 1px solid rgba(0, 0, 0, 0.45);

  overflow: scroll-y;

  li
  {
    &.disabled
    {
      color: rgba(0, 0, 0, 0.4)
    }
  }
}
