
// Cartilage Support ---------------------------------------------------------

@import "cartilage/mixins";
@import "cartilage/variables";

// Split View ----------------------------------------------------------------

.split-view
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > .first-view,
  > .second-view
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: auto;
  }

  &.horizontal
  {
    .first-view
    {
      height: 50%;
    }

    .second-view
    {
      top: 50%;
    }

    .drag-handle
    {
      position: absolute;
      left: 0;
      right: 0;

      top: 50%;
      height: 5px;
      z-index: 100;

      cursor: row-resize;
    }
  }

  &.vertical
  {
    .first-view
    {
      width: 50%;
    }

    .second-view
    {
      left: 50%;
    }

    .drag-handle
    {
      position: absolute;
      top: 0;
      bottom: 0;

      left: 50%;
      width: 5px;
      z-index: 100;

      cursor: col-resize;
    }
  }
}
