
@import "cartilage/mixins";

.usage-bar-view
{
  position: relative;

  // Bar View ----------------------------------------------------------------

  ul.bar-view
  {
    position: relative;
    margin: 0;
    border: 1px solid #888;
    height: 24px;
    overflow: hidden;

    #gradient > .vertical(rgb(161, 162, 162), rgb(177, 179, 179));
    .border-radius(2px);

    list-style: none;

    &:after
    {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      .box-shadow(inset 0px 1px 4px rgba(0, 0, 0, 0.5));
    }

    // Bar Segment Views -----------------------------------------------------

    li.bar-segment-view
    {
      position: relative;
      width: 0px;
      height: inherit;
      float: left;
      .box-sizing(border-box);

      &:before,
      &:after
      {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
      }

      &:before
      {
        left: 0;
        background-color: rgb(200, 200, 200);
        background-color: rgba(255, 255, 255, 0.25);
      }

      &:after
      {
        right: 0;
        background-color: rgb(216, 216, 217);
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:first-of-type
      {
        .border-radius(2px 0px 0px 2px);
      }

      &:last-of-type
      {
        .border-radius(0px 2px 2px 0);
        &:after
        {
          display: none;
        }
      }

      .bar
      {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.09500000000000001);
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.2));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.2));
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.025)), to(rgba(0, 0, 0, 0.2)));
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.2));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.2));
        background-image: linear-gradient(top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.2));
        background-repeat: repeat-x;

        border-right: 1px solid rgb(216, 216, 217);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.15);

        .box-sizing(border-box);
      }
    }
  }

}
