
@import "twitter/bootstrap/mixins";

@mixin user-select($select: inherit)
{
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

@mixin user-drag($drag: auto)
{
  -webkit-user-drag: $drag;
}

