
// Cartilage Support ---------------------------------------------------------

@import "cartilage/variables";
@import "cartilage/mixins";

// Tablets and Below ---------------------------------------------------------

@media (max-width: 979px)
{

  html
  {
    overflow: visible;
  }

  .navbar
  {
    margin-bottom: 0;
  }

  .navbar-fixed-top .navbar-inner
  {
    padding: 0;
  }

  .navbar .brand
  {
    float: none;
    line-height: $navbarHeight;
    padding: 0 10px 0 inherit;
    margin: 0 10px 0 -20px;
    display: inline-block;
  }

  .navbar .nav > li > a
  {
    margin: 0;
    margin-bottom: 10px;
    line-height: $navbarHeight / 2.75;
    @include border-radius(3px);
  }

  // Absolute Container ------------------------------------------------------

  .container-absolute
  {
    position: relative;
    top: auto;
    overflow: visible;
  }

  // Application Content -----------------------------------------------------

  #content
  {

    // Page Header -----------------------------------------------------------

    #page-header
    {
      position: relative;
      height: auto;

      // Actions Button
      .btn-actions
      {
        display: block;
      }

      // Hide the pageactions
      .actions-collapse
      {
        overflow: hidden;
        height: 0;
        clear: left;
      }

      // Block-level the nav
      ul.actions
      {
        float: none;
        padding: 0;
        margin-left: 0;

        > li
        {
          float: none;
          margin-left: 0;
        }

        .btn
        {
          float: none;
          margin: 0 0 ($baseLineHeight / 2);
          display: block;
        }
      }
    }

    // Page Content ----------------------------------------------------------

    #page-content
    {
      position: static;
      overflow: visible;
    }
  }

}

// Default Desktop -----------------------------------------------------------

@media (min-width: 980px)
{
  .actions-collapse.collapse
  {
    height: auto !important;
  }
}
